/* Centrer un élément horizontalement parfaitement */
/*si élément en block*/
.titre{
    text-align: center;
}
.boite{
    margin: 0 auto;
    display: block;/*si jamais element n'est pas en block de base (ex: img, a, span, button)*/
}

/************************ FLEX ************************/

/*centrer 1 élément dans sa boîte (enfant unique)*/
.parent-d-1-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Répartir équitablement sur la même ligne des éléments dans la page*/
.parent-de-plusieurs-enfatns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/************************ GRID ************************/
/*Répartir précisement des éléments dans la largeur avec des tailles différentes*/
.parent-de-3-elements{
    display: grid;
    grid-template-columns: 25% 55% 20%;
}

/*créer des grilles complexes*/
.parent-des-elements{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr 300px;
    grid-template-areas: 
    "header header"
    "side main main"
    "side footer footer";
}

.enfant1{
    grid-area: header;
}

/************************ ABSOLUTE ************************/
/*Centrer parfaitement un élément*/
.parent{
    position: relative;
}
.enfant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /*si besoin de bouger sur les axes x y*/
}



/************************ PULGINS ************************/
/*Chrome: colorpick eyedropper*/
/*Chrome: ruler measurements*/
/*Chrome: what font*/
/*Chrome: wappalyzer*/

/*vsc: live server*/
/*vsc: prettier*/
/*vsc: bracket pair colorizer*/